.contactContainer {
    padding: 4% 6%;
}

.headerText {
  background-image: linear-gradient(90deg,#3f5a43,#7f9966);
  color: transparent;
  background-clip: text;
  font-family: PoppinsSemiBold;
  font-size: 32px;
  margin-bottom: 12px;
}

.descriptionText {
    font-family: MontserratRegular;
    font-size: 16px;
    color: #F8FAFC;
    margin-bottom: 24px;
}

.contactForm {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 50%;
}

.formGroup {
    display: flex;
    flex-direction: column;
    label {
        color: #F8FAFC;
    }
}

.formInput,
.formTextarea {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    color: #000000;
}

.formTextarea {
    resize: vertical;
    min-height: 100px;
    color: #F8FAFC;
}

button[type="submit"] {
    padding: 12px 20px;
    background-color: #3f5a43;
    color: #F8FAFC;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #7f9966;
}

@media (max-width: 768px) {
    .contactForm {
        width: 100%;
    }
}