.headerContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  padding: 8px 48px;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: transparent;
  transition: background-color 0.3s ease;
}

.scrolled {
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.appLogo {
  height: 125px;
  width: 125px;
}

.logoWrapper {
  flex: 1;
}

.navLinksWrapper {
  flex: 2;
  display: flex;
  justify-content: flex-end;
  gap: 48px;
}

.navLinkItem {
  cursor: pointer;
  font-size: 18px;
  letter-spacing: 0.9px;
  font-family: PoppinsSemiBold;
  background-image: linear-gradient(90deg,#3f5a43,#7f9966);
  color: transparent;
  background-clip: text;
}

.hamburgerMenu {
  display: none;
  cursor: pointer;
}

.mobileNavLinksWrapper {
  display: none;
}

@media (max-width: 768px) {
  .navLinksWrapper {
    display: none;
  }

  .hamburgerMenu {
    display: block;
  }

  .mobileNavLinksWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: white;
    padding: 20px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .mobileNavLinksWrapper .navLinkItem {
    padding: 10px 0;
  }
}