.appContainer {
  background-color: #050A14;
  background-image: radial-gradient(rgba(148, 163, 184, 0.15) 1px, transparent 1px);
  background-size: 24px 24px;
}

.appPlaceholder {
    height: 150px;
    background-image: linear-gradient(90deg,#d7e2cc,#e1e2cc);
}

.chatbot {
    position: fixed;
    bottom: 90px;
    right: 70px;
    width: 90%;
    height: 75%;
    background: white;
    overflow: hidden;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
    z-Index: 9999;
}

.chatbotDisplay {
    display: block;
}

.chatbotHidden {
    display: none;
}

.chatbotContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: space-between;
    padding: 12px 6%;

    h4 {
        font-size: 3rem;
        color: #F8FAFC;
        /* background: linear-gradient(90deg, #1A73E8, #EA4335, #FBBC05, #34A853);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent; */
        font-family: PoppinsExtraBold;
    }
    
    span {
        font-family: MontserratLight;
        font-size: 1rem;
        color: #94A3B8;
    }

    input[type="text"] {
        width: 40%;
        padding: 12px 16px;
        font-size: 1.2rem;
        font-family: MontserratMedium;
        border: 2px solid #ccc;
        border-radius: 8px;
        outline: none;
        transition: border-color 0.3s ease;
        margin-top: 12px;
        &:focus {
            border-color: goldenrod;
        }
    }
}

.chatCloseBtn {
    position: absolute;
    top: 8px;
    right: 12px;
    font-size: 1rem;
    color: #888;
    cursor: pointer;
    font-family: MontserratMedium;
}