* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

/* Poppins Font Family */
@font-face {
  font-family: "PoppinsLight";
  src: url("/src/assets/fonts/Poppins/Poppins-Light.ttf");
}
@font-face {
  font-family: "PoppinsThin";
  src: url("/src/assets/fonts/Poppins/Poppins-Thin.ttf");
}
@font-face {
  font-family: "PoppinsRegular";
  src: url("/src/assets/fonts/Poppins/Poppins-Regular.ttf");
}
@font-face {
  font-family: "PoppinsMedium";
  src: url("/src/assets/fonts/Poppins/Poppins-Medium.ttf");
}
@font-face {
  font-family: "PoppinsBold";
  src: url("/src/assets/fonts/Poppins/Poppins-Bold.ttf");
}
@font-face {
  font-family: "PoppinsSemiBold";
  src: url("/src/assets/fonts/Poppins/Poppins-SemiBold.ttf");
}
@font-face {
  font-family: "PoppinsExtraBold";
  src: url("/src/assets/fonts/Poppins/Poppins-ExtraBold.ttf");
}

/* Montserrat Font Family */
@font-face {
  font-family: "MontserratLight";
  src: url("/src/assets/fonts/Montserrat/Montserrat-Light.ttf");
}
@font-face {
  font-family: "MontserratThin";
  src: url("/src/assets/fonts/Montserrat/Montserrat-Thin.ttf");
}
@font-face {
  font-family: "MontserratRegular";
  src: url("/src/assets/fonts/Montserrat/Montserrat-Regular.ttf");
}
@font-face {
  font-family: "MontserratMedium";
  src: url("/src/assets/fonts/Montserrat/Montserrat-Medium.ttf");
}
@font-face {
  font-family: "MontserratBold";
  src: url("/src/assets/fonts/Montserrat/Montserrat-Bold.ttf");
}
@font-face {
  font-family: "MontserratSemiBold";
  src: url("/src/assets/fonts/Montserrat/Montserrat-SemiBold.ttf");
}
@font-face {
  font-family: "MontserratExtraBold";
  src: url("/src/assets/fonts/Montserrat/Montserrat-ExtraBold.ttf");
}